{% extends "accounts/base.html" %}

{% block content %}
<div class="container register-card">
  <div class="container register-content">
    {% if registered %}
      <h2 id="register-head">Thank you for registering!</h2>
    {% else %}
      <h2 id="register-head">Register here!</h2>
      <br>

      <form action='{% url "accounts:register" %}' method="post">
        {% csrf_token %}
        {{ user_form.as_p }}

        <button type="submit" class="btn btn-primary btn-lg btn-block">Submit</button><br>
      </form>

    {% endif %}

    <div class="">
      <p>Already have an account? <a href="{% url 'accounts:user_login' %}">Login here</a></p>
    </div>

    <br><br>
  </div>
</div>
{% endblock %}
